CLOUD_UI_DATABASE_URL=mysql+pymysql://cloud_ui:cloud_ui_dev@db:3306/cloud_ui
CLOUD_UI_RABBITMQ_URL=amqp://cloud_ui:cloud_ui_dev@rabbitmq:5672/%2Fcloud-ui
CLOUD_UI_API_BIND_HOST=0.0.0.0
CLOUD_UI_API_PORT=8080
CLOUD_UI_LOG_LEVEL=INFO
CLOUD_UI_CONFIG_VERSION=dev
MYSQL_DATABASE=cloud_ui
MYSQL_USER=cloud_ui
MYSQL_PASSWORD=cloud_ui_dev
MYSQL_ROOT_PASSWORD=cloud_ui_root_dev
RABBITMQ_DEFAULT_USER=cloud_ui
RABBITMQ_DEFAULT_PASS=cloud_ui_dev
RABBITMQ_DEFAULT_VHOST=/cloud-ui
