CLOUD_UI_CONFIG_VERSION={{ cloud_ui_config_version }}
CLOUD_UI_PUBLIC_BASE_URL={{ cloud_ui_public_base_url }}
CLOUD_UI_LOG_LEVEL={{ cloud_ui_log_level }}
CLOUD_UI_BACKEND_ROLE=cloud_ui_backend
CLOUD_UI_DATABASE_URL={{ cloud_ui_database_url }}
CLOUD_UI_RABBITMQ_URL={{ cloud_ui_rabbitmq_url }}
